@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , 'sans-serif';
}
.container{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    display: block;
    background-color: #A64254;
    width: 400px;
    height: 300px;
    border-radius: 26px;
}

.danger{
    background-color: red;
}

.hr1{
    margin-left: 70px;
}

.hr2{
    margin-left: 40px;
}

.orText{
    font-size: small;
    margin-left: 40px;
}

.hr{
    display: inline-block;
    background-color: rgb(39, 37, 37);
    margin-top: 90px;
    width: 70px;
    height: 1px;
}

.inputBox{
    height: 65px;
}

.inpByText{
    padding: 15px;
    width: 90%;
    border: none;
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 15px;
}

.alertContent{
    background-color: lightgreen;
    border-radius: 15px;
    padding:20px;
    cursor: default;
    margin: 15px 15px 0 15px;
}

.disnone{
    display: none;
}

.location{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.locationBtn{
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to right, #7474BF 0%, #348AC7 51%, #7474BF 100%);
    color:white;
    font-size: 25px;
    font-weight: 800;
}

.locationBtn:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-position: right center; 
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
